.carousel {
  width: 90vw;
  margin: 0 auto;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  box-shadow: var(--shadow-1);
}

.carouselContent {
  width: 100%;
  color: white;
  background: var(--background-gradient-2);
  padding: 0 2rem;
  height: 100%;
  padding-bottom: 1rem;
}

.carouselImg {
  max-height: 50vh;
  object-fit: cover;
}

.carouselContent Button {
  display: block;
  margin: 0 auto;
}

.carouselContent h3 {
  font-size: 1.3rem;
  margin: 1rem 0;
}

.carouselContent p {
  margin: 0.5rem 0;
}

.info {
  color: var(--gray-1);
  font-size: 0.9rem;
}

.info i {
  margin-right: 0.5rem;
  font-size: 0.9rem;
}
