.ytSection {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 4rem 0;
}

.ytCard {
  width: 90vw;
  height: 50vh;
  background: var(--background-2);
  color: white;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: row;
}

.ytButton {
  background: #ff0000 !important;
  color: white;
  padding: 0 5rem;
  border-radius: 5rem;
  border: none;
  transition: 0.2s ease-in-out;
  box-shadow: var(--shadow-1);
}

.left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.right {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 100%;
  border: none;
}

@media (maxwidth: 768px) {
  .ytCard {
    width: 95%;
  }
}
