.carouselContainer {
  margin: 3vh auto;
}

.carousel {
  width: 90vw;
  margin: 0 auto;
}

.carouselItem {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 50vh;
}

.carouselContent {
  position: absolute;
  bottom: 20px;
  left: 20px;

  width: calc(100% - 40px);

  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}

.carouselImg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carouselContent h3 {
  margin: 0;
  font-size: 1.5rem;
}

.carouselContent p {
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  .carouselContainer {
    margin: 0 auto;
    margin-bottom: 3vh;
  }

  .carousel {
    width: 100vw;
  }

  .carouselItem {
    max-height: 20vh;
    border-radius: 0;
  }

  .carouselContent {
    display: none;
  }
}
