.dialog {
  font-size: var(--font-1);
  width: 50vw;
  text-align: justify;
}

.dialog h3 {
  font-size: var(--font-3);
}

.description {
  white-space: pre-line;
}

@media (max-width: 768px) {
  .dialog {
    width: 80vw;
  }
}
