.logo {
  height: 50px;
}

.menuBar {
  position: fixed;
  height: var(--header-height);
  width: 100vw;
  z-index: 1000;
  background: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuRight {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-right: 5vw;
}

.menuLeft {
  margin-left: 5vw;
}

.menuLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  transition: color 0.3s ease;
  gap: 0.5rem;
}

.menuLink:hover {
  color: #0f085a;
}

.register {
  text-decoration: none;
  background: var(--background-gradient-3);
  padding: 7px 15px;
  color: white;
  border-radius: 15px;
  box-shadow: var(--shadow-2);
}

.hamburger {
  display: none;
  font-size: 2%;
  background: none;
  border: none;
  margin-right: 5vw;
  cursor: pointer;
  color: #333;
}

.mobileMenu {
  position: absolute;
  top: 10vh;
  right: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mobileLink {
  padding: 0.75rem 0;
  text-decoration: none;
  color: #333;
  display: flex;
  gap: 0.5rem;
}

.mobileRegister {
  margin-top: 1rem;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgba(96, 77, 235, 1) 0%,
    rgba(0, 47, 105, 1) 100%
  );
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  .menuRight {
    display: none;
  }

  .mobileMenu {
    border-radius: 5px;
  }

  .mobileMenu a {
    border-bottom: 1px solid #edecec;
  }

  .hamburger {
    display: block;
  }

  .hamburger i {
    font-size: large;
  }
}
