.timer {
  width: 100vw;
  margin: 5vh auto;
  text-align: center;
  background: var(--background-gradient-2);
  box-shadow: var(--shadow-1);
  padding: 3vh;
  font-size: 1.5rem;
}

.countdown {
  font-size: 2rem;
  display: inline-block;
}

@media (max-width: 768px) {
  .timer {
    margin: 0 auto;
    padding: 0.75rem;
    font-size: 1.2rem;
  }

  .countdown {
    font-size: 1.4rem;
    display: block;
    margin-top: 0.5rem;
  }
}

@media (max-width: 400px) {
  .timer {
    font-size: 1rem;
  }
}
