.timer {
  width: 100vw;
  margin: 5vh auto;
  text-align: center;
  background: var(--background-gradient-2);
  box-shadow: var(--shadow-1);
  padding: 3vh;
  font-size: var(--font-3);
}

.countdown {
  font-size: var(--font-4);
  display: inline-block;
}

@media (max-width: 768px) {
  .timer {
    margin: 0 auto;
    padding: 0.75rem;
    font-size: var(--font-2);
  }

  .countdown {
    font-size: var(--font-3);
    display: block;
    margin-top: 0.5rem;
  }
}

@media (max-width: 400px) {
  .timer {
    font-size: var(--font-1);
  }
}
