.container {
  width: 90vw;
  margin: 0 auto;
}

.carouselItem {
  display: flex;
  flex-direction: column;
  width: 90%;
  overflow: hidden;
  border-radius: 10px;
  margin: 10px;
  box-shadow: var(--shadow-1);
  margin: 0 auto;
}

.carouselImg {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .carouselImg {
    width: 100%;
  }
}
