.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  min-height: 360px;
  overflow: hidden;

  display: flex;
  align-items: center;
  box-shadow: var(--shadow-1);
}

.heroImg {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

.content {
  position: relative;
  z-index: 1;

  padding: 0 5vw;
  color: white;
  max-width: 60%;
}

.content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.content p {
  font-size: 1.4rem;
}

.info {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 2rem 0;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .info {
    justify-content: left;
    gap: 1rem;
  }
}
