.ytSection {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin: 3vh auto;
}

.ytCard {
  width: 90vw;
  height: 50vh;
  background: var(--background-2);
  color: white;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: var(--shadow-1);
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.ytButton {
  background: #ff0000 !important;
  color: white;
  padding: 0 5rem;
  border-radius: 5rem;
  border: none;
  transition: 0.2s ease-in-out;
  box-shadow: var(--shadow-1);
}

.ytButton i {
  margin: 0 auto;
}

.left {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.right {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .ytCard {
    flex-direction: column;
    height: auto;
    padding: 1.5rem;
  }

  .ytButton {
    width: 70%;
  }

  .left,
  .right {
    flex: unset;
    width: 100%;
  }

  iframe {
    height: 50vh;
  }

  .ytButton {
    padding: 0.5rem 2rem;
  }
}
